*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Baloo 2', sans-serif;
}

/* RED BACKGROUND */
.top-bg{
  background:#e63946;
  height:200px;
}

/* WHITE HEADER BOX */
.header-box{
  width:90%;
  max-width:1100px;
  background:white;
  padding:2px 20px;
  border-radius:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.15);

  display:flex;
  justify-content:space-between;
  align-items:center;

  position:absolute;
  top:30px;
  left:50%;
  transform:translateX(-50%);
}

/* LOGO */
.logo{
  font-size:32px;
  font-weight:700;
  color:#e63946;
  letter-spacing:1px;
}

/* NAVIGATION */
.nav{
  display:flex;
  gap:40px;
}
.nav a{
  text-decoration:none;
  color:#333;
  font-size:18px;
  letter-spacing:1px;
  transition:0.2s;
}
.nav a:hover{
  color:#e63946;
}

/* RIGHT SIDE ICONS */
.right-icons{
  display:flex;
  gap:20px;
  font-size:20px;
  color:#e63946;
  cursor:pointer;
}

/* HERO IMAGE */
.hero{
  background:#e63946;
  padding-top:30px;
  padding-bottom:60px;
  text-align:center;
}
.hero-img{
  width:60%;
  height: 400%;
  margin-top:20px;
  max-width:300px;
}

/* RESPONSIVE */
@media(max-width:900px){
  .nav{
    gap:20px;
  }
  .story-card{
    flex-direction:column;
    text-align:center;
  }
  .story-text, .story-image{
    width:100%;
  }
  .story-image img{
    width:70%;
    margin-top:20px;
  }
}


/* ---------------- INGREDIENTS ---------------- */
.ingredients-section{
  background : rgb(245, 236, 219);
  padding:60px 20px;
  text-align:center;
}

.bowl-img{
  width:240px;
}

.badges{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  margin-top:30px;
}

.badge{
  background:#ffe5dd;
  padding:12px 20px;
  border-radius:8px;
  font-weight:bold;
}

/* ---------------- WHY ---------------- */
.red-section{
  background:#e63946;
  padding:60px 0;
  display:flex;
  justify-content:center;
}

.white-box{
  background : rgb(245, 236, 219);
  width:85%;
  padding:30px 40px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* Title Style */
.white-box h2{
  color:#d62828;
  font-size:26px;
  margin-bottom:10px;
  font-family:'Baloo 2', cursive;
}

/* ---------- WHY DILMURE & OUR STORY LAYOUT ---------- */
.why-content{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:20px;
}

.why-text{
  width:65%;
  line-height:1.5;
}

.why-img{
  width:28%;
}

.story-text{
  line-height:1.5;
}


/* ---------------- HEART SECTION ---------------- */
.heart-section{
  text-align:center;
  padding:60px 20px;
   background : rgb(245, 236, 219);
}

.heart{
  width:330px;
  height:330px;
  margin:auto;
  position:relative;
}

.heart-item{
  position:absolute;
  width:140px;
  transition:0.3s;
}

.heart-item:nth-child(1){ top:10px; left:20px; }
.heart-item:nth-child(2){ top:10px; right:20px; }
.heart-item:nth-child(3){ bottom:10px; left:50%; transform:translateX(-50%); }

/* ---------------- FOOTER ---------------- */
.footer{
  background : rgb(245, 236, 219);
  color:red;
  text-align:center;
  padding:25px 10px;
  font-size:26px;
 
}

/* ---------------- RESPONSIVE ---------------- */